.footer{
    width: 100%;
    height: 400px;
    background-color: rgb(22, 21, 21);
    margin-top: 100px;

}
.footLogos{
    width: 100%;
    height: 150px;
    background-color: rgb(22, 21, 21);
    border: solid white 1px;
}
.footrest{
    width: 100%;
        background-color: rgb(22, 21, 21);
    border: solid white 1px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footcolumn1{
    background-color: rgba(146, 146, 146, 0);
    width: 20%;
    margin-right: 5%;
}
.footcolumn1 h2{
    margin-bottom: 10%;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
a{
    text-decoration: none;
}
.footcolumn2{
    background-color: rgba(255, 255, 255, 0);
    width: 20%;
    margin-left: 5%;
    text-decoration: none;
    color: aliceblue;
}