    .carousel {
      position: relative;
      width: 100%;
      height: 550px;
      margin-top: 70px;
      overflow: hidden;

      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .carousel-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.7s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
    }
    .car-title{
      position: absolute;
      z-index: 4000;
      font-family: "Orbitron", sans-serif;
      left: 25%;
      top: 10%;
      background-image: url("../images/pattern.svg");
      background-repeat: repeat;
      font-size: 40px;
    }
        .car-title2{
      position: absolute;
      z-index: 4000;
      font-family: "Orbitron", sans-serif;
      left: 25%;
      top: 10%;

      font-size: 40px;
    }
        .car-title3{
      position: absolute;
      z-index: 4000;
      font-family: "Orbitron", sans-serif;
      left: 19%;
      top: 8%;

      font-size: 35px;
    }
    .car-title-pr{
      color: #99ff00;
      font-family: "Orbitron", sans-serif;
    }
        .car-title-pr2{
      color: #ff0000;
      font-family: "Orbitron", sans-serif;
    }
            .car-title-pr3{
      color: #008cff;
      font-family: "Orbitron", sans-serif;
    }
    .car-perk{
      display: flex;
      top: 50%;
      left: 25%;
      flex-direction: column;
      position: absolute;
      width: 50%;
      gap: 20px;
      border-left: solid 3px white;
      padding-left: 10px;
    }
        .car-perk3{
      display: flex;
      top: 50%;
      left: 19%;
      flex-direction: column;
      position: absolute;
      width: 50%;
      gap: 20px;
      border-left: solid 3px white;
      padding-left: 10px;
    }
/*---------------------------------------------------------------------------------------*/
    .icon-text {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  width: 40px; /* width of icon area */
  transition: width 0.3s ease;
  background: transparent;
  gap: 10px;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(255, 255, 255);
}

.icon-text img {
  width: 32px;
  height: 32px;
  z-index: 2;
  transition: transform 0.7s ease;
}

.slide-text {
  position: absolute;
  left: 100%;
  opacity: 0;
  white-space: nowrap;
  margin-left: 8px;
  font-family: "Bebas Neue", sans-serif;
  transition: all 0.3s ease;
}

/* On hover */
.icon-text:hover {
  width: 75%; /* expand to reveal text */
        background-image: url("../images/pattern.svg");
      background-repeat: repeat;
}

.icon-text:hover .slide-text {
  left: 45px;
  opacity: 1;
}

.icon-text:hover img {
  transform: translateX(45%);
}
/* ------------------------------------------------------------------------------------------------------ */

    .icon-text2 {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  width: 40px; /* width of icon area */
  transition: width 0.3s ease;
  background: transparent;
  gap: 10px;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(255, 255, 255);
}

.icon-text2 img {
  width: 32px;
  height: 32px;
  z-index: 2;
  transition: transform 0.7s ease;
}

.slide-text2 {
  position: absolute;
  left: 100%;
  opacity: 0;
  white-space: nowrap;
  margin-left: 8px;
  font-family: "Bebas Neue", sans-serif;
  transition: all 0.3s ease;
}

/* On hover */
.icon-text2:hover {
  width: 75%; /* expand to reveal text */

      text-decoration: underline solid white 2px;
}

.icon-text2:hover .slide-text2 {
  left: 45px;
  opacity: 1;
}

.icon-text2:hover img {
  transform: translateX(45%);
}
/*------------------------------------------------------------------------------------------*/
    .icon-text3 {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  width: 40px; /* width of icon area */
  transition: width 0.3s ease;
  background: transparent;
  gap: 10px;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(255, 255, 255);
}

.icon-text3 img {
  width: 32px;
  height: 32px;
  z-index: 2;
  transition: transform 0.7s ease;
}

.slide-text3 {
  position: absolute;
  left: 100%;
  opacity: 0;
  white-space: nowrap;
  margin-left: 8px;
  font-family: "Bebas Neue", sans-serif;
  transition: all 0.3s ease;
}

/* On hover */
.icon-text3:hover {
  width: 75%; /* expand to reveal text */

}

.icon-text3:hover .slide-text3 {
  left: 45px;
  opacity: 1;
}

.icon-text3:hover img {
  transform: translateX(45%);
}
/*---------------------------------------------------------------------------*/
    .carousel-item.active {
      opacity: 1;
      z-index: 1;
    }

    .slide1 { 
    background: rgba(255, 0, 0, 0);
    height: 100%;

    }
    .slide2 { background: #1983c400; 
       height: 100%;}
    .slide3 { background: #8ac92600; 
    height: 100%;}

    /* Arrows */
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 1.5rem;
      border-radius: 50%;
      z-index: 10;
      transition: background 0.3s;
    }

    .arrow:hover {
      background: rgba(0, 0, 0, 0.8);
    }

    .left {
      left: 10px;
    }

    .right {
      right: 10px;}


@media(max-width:500px){
  .carousel{
    height: 150px;
    margin-top: 200px;

  }
}