.pr1{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
background: #2D3A25;
background: radial-gradient(circle, rgba(45, 58, 37, 1) 0%, rgba(34, 34, 34, 1) 100%);
    margin-top: 100px;
    gap: 60px;
    position: relative;
        padding-top: 50px;
    padding-bottom: 50px;
}
.pr2{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #3F2424;
background: radial-gradient(circle, rgba(63, 36, 36, 1) 0%, rgba(34, 34, 34, 1) 100%);
    margin-top: 100px;
    gap: 60px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pr3{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #25253a;
background: radial-gradient(circle, rgba(37, 37, 58, 1) 0%, rgba(34, 34, 34, 1) 100%);
    margin-top: 100px;
    gap: 60px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}


.pr1left{
    width: 35%;
    background-color: rgba(240, 255, 255, 0);
    height: 100%;
}
.pr1right{
    width:55%;
    background-color: rgba(137, 43, 226, 0);
    height: 100%;
}
.brand{
    display: flex;
    align-items: center;
    background-color: rgba(127, 255, 212, 0);
    color: white;
    letter-spacing: 10px;
    font-size: 12px;
    font-family: "Bebas Neue", sans-serif;
}
.naz{
    font-size: 35px;
    color: #89f442;
    font-family: "Orbitron", sans-serif;
}
.naz2{
    font-size: 35px;
    color: #f00000;
    font-family: "Orbitron", sans-serif;
}
.naz3{
  
    font-size: 35px;
    color: #002fff;
    font-family: "Orbitron", sans-serif;

}




.white{
  color: white;
}
.desc{
    font-size: 20px;
    color: white;
    line-height: 1.75;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.perks{
    display: flex;
    width: 50%;
    gap: 7.5%;
    align-items: center;
    justify-content: center;
    z-index: 3000;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 10%;
     border-top: solid 2px rgb(204, 204, 204);

}

.perk{ 
  height: 90px; /* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
 background: #2fff00;
background: linear-gradient(90deg,rgba(47, 255, 0, 0.13) 0%, rgba(255, 221, 0, 0.13) 100%);
  width: 90px;
  color: #99ff00;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  gap: 5px;
  z-index: 4000;

}
.perk2{ 
  height: 90px; /* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
background: #ff0000;
background: linear-gradient(90deg, rgba(255, 0, 0, 0.2) 0%, rgba(255, 0, 217, 0.15) 100%);
  width: 90px;
  color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  gap: 5px;
  z-index: 4000;
}
.perk3{ 
  height: 90px; /* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
background: #0008ff;
background: linear-gradient(90deg, rgba(0, 8, 255, 0.15) 1%, rgba(0, 255, 255, 0.11) 100%);
  width: 90px;
  color: #002fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  gap: 5px;
  z-index: 4000;
}




.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin:  auto;
  background: #00000000;
  border-radius: 20px;
}

.slideshow-inner {
  display: flex;
  transition: transform 0.6s ease-in-out;
  height: 100%;
}

.slideshow-item {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  z-index: 2;
}

.slideshow-arrow.prev { left: 10px; }
.slideshow-arrow.next { right: 10px; }

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  display: flex;
}

.progress-segment {
  flex: 1;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.066);
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}

.progress-segment .fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  transition: width linear;
}

@media(max-width:600px){
  .pr1{
    flex-direction: column;
    gap: 0;
    width: 100%;
    margin-top: 150px;
  }
  .pr1left{
    width: 100%;
    height: 300px;
  }
  .pr1right{
    width: 100%;
  }
  .naz{
    font-size: 30px;
  }
}
