*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headnews{
        box-sizing: border-box;
    background-color: rgb(18, 110, 67);
    font-size: 10px;
    font-style: normal;
    position: sticky;
    text-size-adjust: 100%;
    height: 30px;
    width: 100%;
    z-index: 9000;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;

}
.menu{
    box-sizing: border-box;
    background-color: rgb(39, 38, 38);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    position: fixed;
    text-size-adjust: 100%;
    height: 70px;
    width: 100%;
    z-index: 9000;
    justify-content: flex-end;
    align-items: center;
    display: flex;


}
.option{
    background-color: rgba(39, 38, 38, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 6%;
   position: absolute;
   background-image: url(images/option.svg);
   border: none;
   height: fit-content;
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 45%;
}
  .popup {
    position: fixed;
    top: 0;
    left: -320px;              /* start off-screen */
    width: 320px;
    height: 100%;
    background: #fff;
    box-shadow: 4px 0 16px rgba(0,0,0,0.25);
    transition: left 0.35s ease;
    z-index: 10000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
        background-color: rgb(31, 39, 34);
  }
.opA{
    left: 0%;
    text-decoration: none;
    display: flex;
    width: 95%;
    margin-bottom: 15px;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(57, 160, 112);
    background-color: rgba(31, 39, 34, 0);
    font-size: 15px;
}

  /* visible state */
.popup.show {
    left: 0;
  }

  /* hidden state (fully removed from flow) */
.hidden {
    display: none;
  }
.popclose{
    position: absolute;
    right: 0%;
    display: flex;
    top: 4%;
  }
.logo2{
        display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

@media(max-width:600px){
  .logo{
    left: 20%;
  }
}