.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.orbitron-uniquifier {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.sixtyfour-uniquifier {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

body{
    background-color: #2E7D32;
}
.menu{
    box-sizing: border-box;
    background-color: rgb(39, 38, 38);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    position: fixed;
    text-size-adjust: 100%;
    height: 70px;
    width: 100%;
    z-index: 9000;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right: 20%;

}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 45%;
}



*{
    padding: 0;
   margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #222222;
    margin-top: 0;

}
.headnews{
        box-sizing: border-box;
    background-color: rgb(18, 110, 67);
    font-size: 10px;
    font-style: normal;
    position: sticky;
    text-size-adjust: 100%;
    height: 30px;
    width: 100%;
    z-index: 9000;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;

}
.menu{
    box-sizing: border-box;
    background-color: rgb(39, 38, 38);

    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right: 20%;
    top: 0;


}
.option{
    background-color: rgb(176, 176, 176);
    background-color: rgba(39, 38, 38, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 6%;
    position: absolute;
   position: absolute;
   background-image: url(images/option.svg);
   border: none;
   height: fit-content;
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;

}
.cart{
       border: none;
   height: fit-content;
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
       background-color: rgb(39, 38, 38);
}
  .popup {
    position: absolute;
    top: 40px; /* Adjust depending on button position */
    right: 0;
    background-color: rgb(95, 90, 90);
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    padding: 10px;
    display: none; /* Hidden by default */
    z-index: 90000;
    height: 400px;
    position: fixed;
    top: 0;
    left: -320px;              /* start off-screen */
    width: 320px;
    height: 100%;
    background: #fff;
    box-shadow: 4px 0 16px rgba(0,0,0,0.25);
    transition: left 0.35s ease;
    z-index: 10000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
        background-color: #6ba07d;
  }
.opA{
    left: 0%;
    text-decoration: none;
    display: flex;
    width: 95%;
    margin-bottom: 15px;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#349202;
    background-color: rgba(31, 39, 34, 0);
    font-size: 15px;
}

  /* visible state */
.popup.show {
    left: 0;
  }

  /* hidden state (fully removed from flow) */
.hidden {
    display: none;
  }
.popclose{
    position: absolute;
    right: 0%;
    display: flex;
    top: 4%;
  }
.logo2{
        display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}


@media(max-width:600px){
  .logo{
    left: 20%;
  }
}